.my-deck h1{
    color:black;
}

.item{
    color:black;
}

.Home .decks h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    overflow: hidden;
    line-height: 1.5;
    white-space: nowrap;
    text-overflow: ellipsis;
    color:black;
  }
  .Home .decks p {
    color: #666;
  }