#card-container{
    border:solid darkgrey 1px;
}

#card-container input{
    max-width: 20px;
    max-height: 20px;
    text-align: center;
    border: none;
}

#card-container button{
    height:25px;
}


#card-container:hover .card-options{
    visibility: visible;
}

.card-options{
    visibility: hidden;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}